<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>money</key>
		<string>36759</string>
		<key>img</key>
		<string>bank_ic_xin</string>
		<key>name</key>
		<string>中信银行</string>
	</dict>
	<dict>
		<key>money</key>
		<string>46669</string>
		<key>img</key>
		<string>bank_ic_zhao</string>
		<key>name</key>
		<string>招商银行</string>
	</dict>
	<dict>
		<key>money</key>
		<string>6690000</string>
		<key>img</key>
		<string>bank_ic_zheng</string>
		<key>name</key>
		<string>邮政储蓄银行</string>
	</dict>
	<dict>
		<key>money</key>
		<string>89000</string>
		<key>img</key>
		<string>bank_ic_jian</string>
		<key>name</key>
		<string>建设银行</string>
	</dict>
	<dict>
		<key>money</key>
		<string>70000</string>
		<key>img</key>
		<string>bank_ic_nong</string>
		<key>name</key>
		<string>农业银行</string>
	</dict>
	<dict>
		<key>money</key>
		<string>100000</string>
		<key>img</key>
		<string>bank_ic_guang</string>
		<key>name</key>
		<string>光大银行</string>
	</dict>
	<dict>
		<key>money</key>
		<string>56785</string>
		<key>img</key>
		<string>bank_ic_an</string>
		<key>name</key>
		<string>平安银行</string>
	</dict>
	<dict>
		<key>money</key>
		<string>22200</string>
		<key>img</key>
		<string>bank_ic_fa</string>
		<key>name</key>
		<string>广发银行</string>
	</dict>
	<dict>
		<key>money</key>
		<string>123000</string>
		<key>img</key>
		<string>bank_ic_gong</string>
		<key>name</key>
		<string>工商银行</string>
	</dict>
</array>
</plist>
