<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>UISearchBar</string>
	<string>UIPickerView</string>
	<string>YCTextView</string>
	<string>UIAlert</string>
	<string>UITextField</string>
	<string>Animation</string>
	<string>UIView</string>
	<string>WKWebView</string>
	<string>UIImageView</string>
	<string>UILabel</string>
	<string>UIButton</string>
	<string>UIScrollView</string>
	<string>UITableView</string>
	<string>UICollectionView</string>
</array>
</plist>
